%h2 'Welcome to Movicorn'
%span.glyphicon.glyphicon-search

%em The website to find when your favorite film will be available
%p
  The time is now: #{Time.now}
.row
  .col-sm-6.col-sm-offset-3.center
    #imaginary_container
      = form_tag('/search_item', method: 'get') do
        .input-group
          %input.form-control{:placeholder => "Search", :type => "text", name: 'item_title'}/
          %span.input-group-addon
            %button{:type => "submit"}
              Rechercher
%br
%div
  -5.times do
    - OmdbItem.all.each do |item|
      = image_tag(url_for(item.poster), width: 200, style: 'margin: 5px')
