<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Hello World</h2>
<p>
    The time is now: <%= Time.now %>
</p>
<div>
  <% OmdbItem.all.each do |item|%>
    <%= image_tag(url_for(item.poster)) %>
    <%# do something with the prepped date in each row %>
  <% end %>
</div>

</body>
</html>