<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Hello World</h2>
<p>
    The time is now: <%= Time.now %>
</p>
<div>
  <%= OmdbItem.all.map{|item| item.to_json} %>
</div>

</body>
</html>